In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
x_train = np.array([1, 2])
y_train = np.array([300, 500])
df = pd.DataFrame()
df['Size (1000 sqft)'] = x_train
df['Price ($1000)'] = y_train
df

   Size (1000 sqft)  Price ($1000)
0                 1            300
1                 2            500

In [8]:
def compute_cost(x, y, w, b):
    
    err_sum = 0
    m = len(x)
    
    for i in range(m):
        f_wb = w*x[i] + b
        err_sum += ( f_wb - y[i] ) ** 2
        
    cost = ( 1 / 2*m ) * err_sum
    
    return cost

In [12]:
w = 200
b = 100

compute_cost(x_train, y_train, w, b)

0.0

In [14]:
df

   Size (1000 sqft)  Price ($1000)
0                 1            300
1                 2            500